<div class="sub-elements">
    <div class= "designation"><%= item_cat.capitalize %></div>
    <div class="list">
      <% items.each do |item_url| %>
        <%= link_to category_item_path(StarWarsHelper::item_category_from_url(item_url), StarWarsHelper::item_id_from_url(item_url)), class: "#{item_cat} item" do %>
          <%= icon('fas', SwapiService::CATEGORIES[StarWarsHelper::item_category_from_url(item_url)][:font_awesome_icon]) %>
          <span><%= item_url %></span>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>