<h1>Star Wars Categories</h1>

<div class="cards-category">
  <% SwapiService::CATEGORIES.each do |category, data| %>
    <%= link_to category_path(category), class: "card-category" do %>
      <%= icon('fas', data[:font_awesome_icon]) %>
      <span><%= category.capitalize %></span>
    <% end %>
  <% end %>
</div>
