<h1><%= icon('fas', @category_icon) %> <%= @category.capitalize %></h1>

<div><%= @datas[:message] %></div>

<div class="cards-item">
  <% @datas['results']&.each do |item| %>
    <%= render 'item_card', item: item, category: @category %>
  <% end %>
</div>
<hr>
<% if @datas['next'] %>
  <%= link_to load_next_items_path(url: @datas['next']), remote: true, id: "load-next-items" do %>
    <div class="">Load more...</div>
  <% end %>
<% end %>
<hr>
