<h1>Historics</h1>
<div class="historics">
  <% @historics.each do |historic| %>
    <div class="historic">
      <%= link_to category_item_path(historic.category, historic.item_id) do %>
        <%= icon('fas', SwapiService::CATEGORIES[historic.category][:font_awesome_icon]) %> <%= historic['name'] %>
      <% end %>
      <div id="historic-time"><%= (historic.created_at + Time.now.utc_offset).utc.strftime("%d/%m/%Y at %H:%M:%S") %></div>
    </div>
  <% end %>
</div>