<h1><%= @datas['name'] || @datas['title'] %></h1>

<% if @datas['homeworld'] %>
  <%= render 'item_display', items: [@datas['homeworld']], item_cat: 'homeworld' %>
<% end %>

<% %w[pilots characters residents people planets starships vehicles species films].each do |item_cat| %>
  <% if @datas[item_cat] %>
    <%= render 'item_display', items: @datas[item_cat], item_cat: item_cat %>
  <% end %>
<% end %>