console.log("Next: "+ "<%= @datas['next'] %>");

<% @datas['results'].each do |item| %>
  document.querySelector('div.cards-item').innerHTML += "<%= escape_javascript(render partial: 'item_card', locals: { item: item, category: @category } ) %>";
<% end %>

<% if @datas['next'] %>
  document.querySelector('a#load-next-items').href = "/load_next_items?url=" + "<%= escape_javascript(@datas['next']) %>";
<% else %>
  document.querySelector('a#load-next-items').href = "#";
  document.querySelector('a#load-next-items div').innerText = "Full loaded !";
<% end %>