<div id="navbar">
  <h1>SWAPI VIEWER</h1>
  <div id="menu">
    <div id="categories">
      <% SwapiService::CATEGORIES.each do |category, data| %>
        <%= link_to category_path(category) do %>
          <%= icon('fas', SwapiService::CATEGORIES[category][:font_awesome_icon]) %> <%= category %>
        <% end %>
      <% end %>
    </div>
    <%= link_to "Historics", historics_path %>
  </div>  
  <hr>
</div>