.cards-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-category {
  text-decoration: none;
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 40px;
  margin: 20px;
  color: rgb(53, 73, 109);
  font-size: 48px;
}