.cards-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.card-item {
  text-decoration: none;
  border: 1px solid rgb(119, 153, 130);
  border-radius: 5px;
  padding: 16px;
  margin: 8px;
  color: rgb(53, 109, 87);
  font-size: 24px;
  text-align: center;
}