.historics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

.historic {
  text-decoration: none;
  border: 1px solid rgb(153, 124, 119);
  border-radius: 5px;
  padding: 8px;
  margin: 4px;
  color: rgb(109, 64, 53);
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.historic a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}