#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(133, 142, 184);
}

#menu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#categories a {
  margin: 10px;;
}